# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor files
# =========================
.idea/
**/.idea/
*.iml
.vscode/

# =========================
# Backend (Java / Maven)
# =========================
backend/src/test/
backend/target/
**/target/
backend/src/main/resources/
# Logs
*.log

# =========================
# Frontend (Node / Vite)
# =========================
frontend/node_modules/
node_modules/

# Build outputs
frontend/dist/
dist/

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# Misc
# =========================
coverage/
.tmp/
.cache/