HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/backend/target/
!**/backend/src/**/resources/
/target/
/**/target/
/backend/target/
/backend/src/main/resources
/**/src/main/resources
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/**/.DS_Store
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/

### VS Code ###
.vscode/
node_modules/
.gitignore
